:root {
  --bg-color: #6e6e6e;
  --box-color: #111111;
  --accent-color: #9d00ff;
  --text-color: #e0e0e0;
  --glow: 0 0 10px var(--accent-color),
          0 0 20px var(--accent-color);
}

/* CONTEXTO GERAL */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "VT323", monospace;
  font-size: 1.5rem;

  height: 100vh;
  margin: 0;
  overflow: hidden;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--box-color);
  border-bottom: 3px solid var(--accent-color);
  box-shadow: var(--glow);
  padding: 10px 0;
  z-index: 1000;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.menu a {
  cursor: pointer;
  text-decoration: none;
  color: var(--text-color);
}

.menu a:hover {
  color: var(--accent-color);
}

/* LAYOUT */
.layout {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;

  height: 100vh;
  padding-right: 40px;
}

/* BOX */
.container {
  background-color: var(--box-color);
  border: 4px solid var(--accent-color);
  padding: 40px;
  width: 100%;
  max-width: 500px;
  text-align: center;
  border-radius: 10px;
  box-shadow: var(--glow);
}

/* TELAS */
.tela {
  display: none;
}

.tela.ativa {
  display: block;
  animation: fadeIn 0.5s;
}

/* FORMULÁRIOS */
input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  background-color: var(--accent-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

/* IMAGEM */
.imagem-do-esqueleto {
  width: 400px;
  height: auto;
  border: 4px solid var(--box-color);
  border-radius: 10px;
  display: block;
}


/* FOOTER */
.footer {
  position: fixed;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.9rem;
  opacity: 0.7;
  width: 100%;
  background-color: #000; /* preto */
  padding: 20px 0;
  color: #ccc;                 /* mesma cor que você já usa */
  padding: 15px 0;
  text-align: center;
  border-bottom: 3px solid var(--accent-color);

}




/* ANIMAÇÃO */
@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

